@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

$plain-text: hsl(215, 51%, 70%);
$hover-crypto: hsl(178, 100%, 50%);
$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  align-items: center;
  background: $main-bg;
  display: flex;
  font-family: "Outfit", sans-serif;
  justify-content: center;
  min-height: 100vh;
}

.box {
  background: $card-bg;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 1rem hsl(217, 54%, 10%);
  padding: 1.75rem;
  width: 33rem;
}

.box-wrapper--img {
  border-radius: 1rem;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.box-image {
  display: block;
  height: auto;
  width: 100%;
}

.img-hover {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: 0.3s;
}

.image-hover-eyeicon {
  height: 4.8rem;
  width: 4.8rem;
}

.img-hover:hover {
  cursor: pointer;
  background-color: rgba(0, 255, 247, 0.7);
  opacity: 1;
}

.box-header {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 1.75rem 0;
}

.box-link {
  color: $white;
  text-decoration: none;
  transition: 0.4s;
}

.box-link:hover {
  color: $hover-crypto;
  cursor: pointer;
}

.box-link:focus-visible {
  outline: 0.2rem dashed red !important;
}

.box-paragraph {
  color: $plain-text;
  font-size: 1.8rem;
  font-weight: 300;
}

.box-wrapper {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.box-wrapper--crypto {
  align-items: center;
  display: flex;
}

.crypto-img {
  height: 1.7rem;
  margin-right: 0.5rem;
}

.crypto-value {
  color: $hover-crypto;
  font-size: 1.65rem;
  font-weight: 400;
}

.box-wrapper--time {
  align-items: center;
  display: flex;
}

.time-img {
  height: 1.7rem;
  margin-right: 0.5rem;
}

.time-value {
  color: $plain-text;
  font-size: 1.65rem;
}

.box-wrapper--profile {
  align-items: center;
  border-top: 0.1rem solid $line;
  color: $plain-text;
  display: flex;
  font-size: 1.6rem;
  justify-content: flex-start;
  padding-bottom: 0.75rem;
  padding-top: 1.25rem;
}

.profile-img {
  border-radius: 5rem;
  border: 0.1rem solid $white;
  margin-right: 1rem;
  width: 2.5rem;
}

.profile-link {
  color: white;
  margin-left: 0.3rem;
}

// footer
.attribution {
  bottom: 0;
  color: $plain-text;
  font-size: 1.1rem;
  left: 0;
  margin-bottom: 1.5rem;
  position: fixed;
  right: 0;
  text-align: center;

  a {
    color: $hover-crypto;
  }
}

a:focus-visible {
  outline: 0.2rem dashed red;
}
